.git/
.gitee/
.vscode/
.cjpm-history
build/
module-lock.json
ci_test/
default.cjo
.cached/
*.gcda
*.gcno
ci_lib/
output/
log/
test/report/
main
test.cj
*.macrocall
tmp
.cache
node_modules
package-lock.json
*.bchir
target/
cjpm.*