.git/
.gitee/
.vscode/
.cjpm-history
build/
module-lock.json
ci_test/
default.cjo
.cached/
*.gcda
*.gcno
ci_lib/
output/
log/
test/report/
test.cj
*.macrocall
tmp
.cache
node_modules
package-lock.json
*.bchir
target/
cjpm.lock
**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
.hvigor
.idea
oh_modules
oh-package-lock.json5
**/IDL_Dependencies_List~
**/build-script-cache